<div *ngIf="pizza">

  <h2>{{pizza.name | uppercase}} Details</h2>
  <div><span>price: </span>{{pizza.price}}</div>
  <div><span>description: </span>{{pizza.description}}</div>
  <!--<div>-->
    <!--<label>name:-->
      <!--<input [(ngModel)]="pizza.name" placeholder="name"/>-->
    <!--</label>-->
  <!--</div>-->

</div>
