<div *ngIf="cartService.isEmpty()">
  <h3 class="text-center">No items in the Cart!</h3>
</div>

<table class="table table-striped table-hover ">
  <thead>
  <tr>
    <th>Name</th>
    <th>Quantity</th>
    <th>Price</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let pizza of cartService.cart">
    <td>{{pizza.name}}</td>
    <td>1</td>
    <td>{{pizza.price}}</td>
    <td><button (click)="cartService.removeFromCart(pizza)">Remove</button></td>
  </tr>

  <tr class="warning">
    <td></td>
    <td><h4>Total Items: {{cartService.count}}</h4></td>
    <td><h4>Total: ${{cartService.totalPrice}}</h4></td>
    <!--<td><button (click)="checkout()" class="btn btn-md btn-success">Checkout</button></td>-->
  </tr>
  </tbody>
</table>

