<h2>Our Pizzas</h2>
<ul class="pizzas">
  <li *ngFor="let pizza of pizzas"
      [class.selected]="pizza === selectedPizza"
      (click)="onSelect(pizza)">
    <span class="badge">${{pizza.price}}</span> {{pizza.name}}
  </li>
</ul>

<div *ngIf="selectedPizza">

  <h2>{{selectedPizza.name | uppercase}} Details</h2>
  <div><span>price: $</span>{{selectedPizza.price}}</div>
  <div><span>description: </span>{{selectedPizza.description}}</div>
  <!--<div>-->
    <!--<label>name:-->
      <!--<input [(ngModel)]="selectedPizza.name" placeholder="name">-->
    <!--</label>-->
  <!--</div>-->

  <button (click)="addToCart(selectedPizza)">Add to cart</button>

</div>

<app-cart *ngIf="auth.isAuthenticated()"></app-cart>
